<div class="text-center">

<h1>Welcome to My Chaims</h1>
<h4>"It's Kinda Like My Jams, But Better...""</h4>
</div>

<p>
  My Chaims is our personal repository for all your songs, albums, and favorite artist.
</p>
<p>
  My Chaims API is pretty strait forward and easy to get started with. Currently we're opperating on version 1, so you can find our api at the url 'api/v1'.
</p>
<p>
  My Chaims tracks songs, artists, and albums. You can find these at the following RESTful addresses - Remember the base url for the api is 'api/v1':
</p>
  <ol>
    <li>Songs: </li>
      <ul>
        <li>All Songs: GET 'api/v1/songs'</li>
        <li>Song: GET 'api/v1/songs/:id'</li>
        <li>Update Song Info: PATCH 'api/v1/songs/:id?title=song title&time=00:00&artist_id=1album_id=1' with params: {title: "song title", time: "00:00", artist_id: "1", album_id: "1"}</li>
        <li>Create New Song: POST 'ap1/v1/songs/:id?title=song title&time=00:00&artist_id=1&album_id=1' with params: {title: "song title", time: "00:00", artist_id: "1", album_id: "1"}</li>
        <li>Destroy Song: DELETE 'api/v1/songs/:id' </li>
      </ul>
    <li>Artists: </li>
      <ul>
  <%= image_tag "lazabeams.jpg", id: "lazabeams" %>
        <li>All Artists: GET '/artists'</li>
        <li>Song: GET 'api/v1/artists/:id'</li>
        <li>Update Artist Info: PATCH 'api/v1/artists/:id?name=artist name' with params: {name: "artist name"}</li>
        <li>Create New Artist: POST 'api/v1/artists/:id?name=artist name' with params: {name: "artist name"}</li>
      </ul>
    <li>Albums: </li>
      <ul>
        <li>All Albums: GET 'api/v1/albums'</li>
        <li>Song: GET 'api/v1/albums/:id'</li>
        <li>Update Album Info: PATCH 'api/v1/albums/:id?title:Album title&year=1999' with params: {title: "Album title", year: "1999"}</li>
        <li>Create New Album: POST 'api/v1/albums/:id' with params: {title: "Album title", year: "1999"}</li>
      </ul>
      <li>Complete Information for a Song</li>
        <ul>
          <li>Song Info: GET 'api/v1/complete_info/:song_id'</li>
        </ul>
  </ol>
</p>
