// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.all {
  background-color: #19FF56;
}

.container {
  position: relative;
  opacity: 0.0;
}

li  {
  font-size: 16px;
}

#lazabeams {
  float: right;
}

#front-sign {
  position: center;
}

.hidden {
  display: none;
}
